body {
    width: 800px;
    min-height: 600px;
    position: relative;
    margin: 0 auto 0 auto;
    margin-top: 0px;
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding-bottom: 100px;
}

h1 {
    text-align: center;
}

legend {
    font-weight: bold;
    font-size: 25px;
}

fieldset {
    margin: 20px auto 0 auto;

    padding: 15px 0 10px 10px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background-color: #F6F5F0;
}

input {
    font-size: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

label {
    margin-right: 10px;

    display: block;
}

input[type="submit"] {
    color: black;
    font-weight: bold;

    padding: 5px 10px;

    border: 1px solid #909090;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 2px 2px 2px #EAEAEA;
    -moz-box-shadow: 1px 1px 1px #EAEAEA;
    -webkit-box-shadow: 2px 2px 2px #EAEAEA;

    cursor: pointer;
}

input[type="submit"][disabled] {
    color: gray;
    cursor: auto;
}


#header, nav {
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-left:0;
    margin: 0;
    padding: 0;
}

A:link {text-decoration: none; color: #488CFF;}
A:visited {text-decoration: none; color: #488CFF;}
A:hover {text-decoration: underline; color: #488CFF;}

#header A:link {text-decoration: none; color: black;}
#header A:visited {text-decoration: none; color: black;}
#header A:hover {text-decoration: none; color: black;}

nav A:link {text-decoration: underline; color: #D45500;}
nav A:visited {text-decoration: underline; color: #D45500;}
nav A:hover {text-decoration: underline; color: #488CFF;}

#header {
    height: 70px;
    margin-top: 0;
    padding-top: 0px;
}

#header hgroup {
    position: relative;
    top: 5px;
}

#header h1 {
    text-align: left;
    font-size: 35px;
    font-style: italic;
    margin: 0;
}

#header h2 {
    position: absolute;
    top:22px;
    left: 40px;
    font-style: italic;
    font-size: 15px;
}

#header h3 {
    color: gray;
    position: absolute;
    top:12px;
    left: 174px;
    font-size: 11px;
}

#joinUp {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    top: 40px;
    left: 190px;

    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: whitesmoke;
    background: -moz-linear-gradient(#98ba40, #a6c250 35%, #618926);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #98ba40),color-stop(.35, #a6c250),color-stop(1, #618926));
    font-weight: bold;
    font-size: 22px;
    width: 110px;
    height: 28px;
    padding: 10px;
    text-shadow: -1px -1px 2px #618926;
    border: 1px solid #618926;
}

#joinUp:hover {
    text-decoration: none;

    background: -moz-linear-gradient(#245192, #1e3b73 75%, #12295d);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #245192),color-stop(.75, #1e3b73),color-stop(1, #12295d));
}


nav {
    font-size: 20px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    width: 100%;
    height: 40px;
    list-style: none;
}

nav li {
    position: relative;
    top: 5px;

    width: 200px;
    margin: 0;
    margin-right: 80px;
    
    text-align: center;
    display: inline;
}

nav li a:link, nav a:visited {
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover {
    text-decoration: none;
    font-weight: bold;
}

#user_panel {
    position: absolute;
    height: 15px;
    top: 15px;
    right: 2px;

    color: gray;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    
    background-color: whitesmoke;
    border: 1px solid #F7F7F7;

    box-shadow: 1px 1px 1px #EAEAEA;
    -moz-box-shadow: 1px 1px 1px #EAEAEA;
    -webkit-box-shadow: 1px 1px 1px #EAEAEA;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#user_panel A:link, #user_panel A:visited {
    font-size : 14px;
    text-decoration: none;
    color: #488CFF;
    text-shadow: 0px 1px 1px #fff;
    -moz-text-shadow: 0px 1px 1px #fff;
    -webkit-text-shadow: 0px 1px 1px #fff;
}

#user_panel A:hover {
    text-decoration: underline;
    color: #488CFF;
}

#user_panel ul {
    margin: 0;
    padding: 0;

    position: relative;
    top: 8px;

    list-style-type: none;
}

#user_panel li {
    font-weight: bold;
    padding: 5px;
    display: inline;
}

#premise {
    width:280px;
    margin:20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#front-image {
    width:420px;
    height:400px;
    position:absolute;
    top:110px;
    right:40px;
}

#front-image img {
    width:400px;
}

#join {
    text-align: center;
}

#join p {
    margin: 0;
    padding: 0;
}

#join fieldset {
    width: 400px;
    padding: 10px 20px;
}

#join fieldset p {
    margin: 10px 0 10px 0;
    padding: 0;
}

#join fieldset .notes p {
    color: gray;
}

#join input[type="text"], #join input[type="email"], #join input[type="password"] {
    height: 30px;
    
    margin-top: 10px;

    padding-left: 4px;
}

#join input[type="submit"] {
    width: 100px;
    height: 40px;
    margin: 20px 0 20px 0;
}

#logIn {
    width: 263px;
    position: relative;
    margin: 150px auto 0 auto;
}

#logIn input[type="submit"] {
    display: block;
    margin-top: 20px;
    margin-left: 80px;
}

#logIn #errors, #errors {
    text-align: center;
    position: relative;
    margin: 0px auto 0px auto;

    color:red;

    font-size: 15px;
}

#whatSeen {
    width: 600px;
    height: 200px;
    position: relative;
    margin: 0px auto 0 auto;
    border-style: solid;
    padding-bottom: 40px;

    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background-color: #F6F5F0;
}

#whatSeen #add {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 15px;
}

#whatSeen h1 {
   font-size: 40px;
   text-align: center;
}

#whatSeen input[type="text"] {

    width: 400px;
    height: 60px;

    position: relative;
    left: 100px;

    text-align: center;
    font-style: italic;

    font-size: 40px;
}

#whatSeen input[type="submit"] {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 120px;
    right: 18px;

    font-size: 20px;
}

.list, .userList {
        background-color: #F6F5F0;
}

#userProfile h1 {
    text-align: center;
    text-decoration: none;
}

#userProfile .list, #userProfile .userList {
    width: 600px;

    position: relative;

    margin: 0px auto 50px auto;

    padding: 20px;
    padding-top: 0px;
    padding-bottom: 12px;

    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#userProfile .list {
    padding-bottom: 30px;
}

#userProfile .list .viewMore {
    position: absolute;
    right: 23px;
    bottom: 10px;
}

#userProfile .list .viewMore a:visited,
#userProfile .list .viewMore a:link {
    color: #488CFF;
}

#userProfile .userList {
    text-align: center;
    font-size: 15px;
}

#userProfile .userList .key {
    position: absolute;
    left: 10px;
    font-size: 40px;
}

#userProfile .title {
    width: 300px;
}

#userProfile .rating {
    position: absolute;
    left: 310px;
    top: 3px;
}

#userProfile ul {
    margin:0;
    padding: 0;
}

#userProfile .list img {
    width: 20px;
}

#userProfile .list A:link, #userProfile .userList A:link {text-decoration: none; color: black;}
#userProfile .list A:visited, #userProfile .userList A:visited {text-decoration: none; color: black;}
#userProfile .list A:hover, #userProfile .userList A:hover {text-decoration: underline; color: black;}


#userProfile .list h1, #userProfile .userList h1, #film .list h1 {
    font-size: 20px;
    text-align: left;
}

#userProfile .list li, #userProfile .userList li, #film .list li {
    list-style-type: none;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 5px;
    position: relative;
}

#userProfile .list li .whenSeen, #film .list li .whenSeen {
    position: absolute;
    right :4px;
    top: 4px;
    color: gray;
}

#userProfile .userList li {
    height: 50px;
}

#userProfile .userList a {
    position: relative;
    top: 15px;
}

#userProfile #pageLinks {
    text-align: right;
    position: absolute;
    right: 100px;
}


#editList .list {
    padding:0px;

    width: 600px;

    position:relative;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border-style: dotted;
    border-width: 1px;

    background-color: #F6F5F0;
}

#editList .list h1 {
    text-align: center;
    margin: 0;
}

#editList .body {
    padding-bottom: 20px;
}

#editList .list h1 A:link {text-decoration: none; color: black;}
#editList .list h1 A:visited {text-decoration: none; color: black;}
#editList .list h1 A:hover {text-decoration: underline; color: blue;}

#editList .list ol {
    padding: 0px;

    width: 600px;

    position:relative;

    margin-left: auto;
    margin-right: auto;
}

#editList .list li {
    display: block;

    position: relative;

    left:40px;

    width: 500px;
    height: 30px;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
    background-color: white;

    border-style: solid;
    border-width: 1px;

    -moz-box-shadow: 3px 3px 4px #E8E8E8;
    -webkit-box-shadow: 3px 3px 4px #E8E8E8;
    box-shadow: 3px 3px 4px #E8E8E8;
}

#editList .list .removeFilm{
    position: absolute;
    top: 4px;
    right: 10px;
}

#editList .list .removeFilm input{
    font-size: 12px;
}

#editList .addFilm {
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#editList .addFilm input {
    position: relative;
    bottom: 4px;
    left: 120px;
    font-size: 12px;
}

#editList .addFilm input[type="text"] {
    width: 200px;
    height: 20px;
}

#editList .addFilm input[type="submit"]{
    color: #D45500;
    background-color: whitesmoke;
}

#film h1, #film h2{
    text-align: center;
}

#film #rate {
    width: 150px;
    height: 82px;
    position: absolute;
    top: 150px;
    right: 0px;
}

#film #rate input[type="image"] {
    width: 25px;
}

#film #rate img {
    width: 25px;
    margin: 0;
}

#film #seenIt {
    width: 80px;
    height: 45px;

    position: absolute;
    right: 40px;
    top: 165px;
}

#film .list {
    width: 600px;

    position: relative;

    margin: 0px auto 50px auto;

    padding: 20px;
    padding-top: 0px;
    padding-bottom: 12px;

    border: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#couldntFind #uh-oh {
    font-size: 100px;
    margin: 0;
    padding: 0;
    font-weight: bold;

    position: relative;
    left: 90px;
}

#couldntFind img{
    position: relative;
    left: 240px;
}

#couldntFind #text {
    margin-top: 20px;

    text-align: center;

    border:solid 1px black;
}

footer {
    text-align: center;

    font-size: 12px;
    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    margin: 0;

    position: absolute;
    height: 50px;

    bottom: 0px;
}

footer ul {
    margin: 0;
}

footer li {
    margin: 0;
    margin-right: 10px;
    display: inline;
}

footer p {
    margin: 0;
}

#addFilm h1 {
}

#addFilm h2 {
    margin: 0;
    padding: 0;
}

#addFilm fieldset {
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;
}

#addFilm label {
    display: block;
}

#addFilm input[type="text"], #addFilm label {
    margin-left: 100px;
}

#addFilm input[type="text"]{
    width: 300px;
    height: 25px;
    font-size: 20px;
}

#addFilm input[type="submit"]{
    position: relative;
    left: 600px;
    width: 100px;
}

#bai {
    position: relative;
    left: 100px;

    font-size: 50px;
    font-weight: bold;
}

#bai img {
    position: relative;
    left: 110px;
}

#accountSettings fieldset {
    width: 500px;
}