body {
    width: 800px;
    min-height: 600px;
    position: relative;
    margin: 0 auto 0 auto;
    font-family: 'Ubuntu', arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding-bottom: 100px;
}

#header, nav {
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-left:0;
}

#header A:link {text-decoration: none; color: black;}
#header A:visited {text-decoration: none; color: black;}
#header A:hover {text-decoration: none; color: #983D00;}

#user_panel A:link {text-decoration: underline; color: #D45500;}
#user_panel A:visited {text-decoration: underline; color: #D45500;}
#user_panel A:hover {text-decoration: underline; color: #983D00;}

nav A:link {text-decoration: underline; color: #D45500;}
nav A:visited {text-decoration: underline; color: #D45500;}
nav A:hover {text-decoration: underline; color: #983D00;}

#header {
    height: 80px;
}

#header h1 {
    font-size: 35px;
}

#header h2 {
    position: absolute;
    top:30px;
    left: 50px;
    font-style: italic;
    font-size: 15px;
}

nav {
    width: 100%;
    height: 45px;
}

nav ul li {
    float: left;
}

nav li {
    width: 100px;
    height: 100%;
    padding-top: 10px;
    text-align: center;
}

nav ul {
    margin: 0 auto;
    width: 940px;
    list-style: none;
}

#user_panel {
    position: absolute;
    top: 10px;
    right: 10px;
}

#premise {
    width:280px;
    margin:20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

#front-image {
    width:420px;
    height:400px;
    position:absolute;
    top:110px;
    right:40px;
}

#front-image img {
    width:400px;
}

#logIn, #join {
    position: relative;
    margin: 100px auto 0px auto;

    font-weight: bold;
}

#logIn input, #join input, label {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 300px;
}

#logIn input, #join input {
    width: 280px;
    height: 25px;
    font-size: 20px;

    margin-bottom: 50px;

    background-color: whitesmoke;
}

#logIn label, #join label {
    font-size: 20px;
    font-size: 25px;
}

#logIn #errors, #errors {
    text-align: center;
    position: relative;
    margin: 0px auto 0px auto;

    color:red;

    font-size: 20px;
}

#logIn input[type="submit"], #join input[type="submit"]{
   position: relative;
    left: 80px;
    height: 45px;
    width: 73px;
    font-size: 20px;
}

#whatSeen {
    width: 100%;
    position: relative;
    margin: 10px auto 0 auto;
    border-style: solid;
    padding-bottom: 40px;
    border-width: 1px;
}

#whatSeen #add {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 15px;
}

#whatSeen h1 {
   font-size: 50px;
   text-align: center;
}

#whatSeen input {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#whatSeen input[type="text"] {
    width: 600px;
    height: 60px;

    text-align: center;
    font-style: italic;

    font-size: 40px;
}

#whatSeen input[type="submit"] {
    width: 100px;

    height: 30px;
}

#userProfile {
}
  
#userProfile h1 {
    text-align: center;
}

#userProfile ul {
    margin:0;
    padding: 0;
}

#userProfile .list, #film .list {
    width: 500px;
    position: relative;
    margin: 0px auto 100px auto;
    padding: 20px;
    border: 1px solid black;
}

#userProfile .list A:link {text-decoration: none; color: black;}
#userProfile .list A:visited {text-decoration: none; color: black;}
#userProfile .list A:hover {text-decoration: underline; color: blue;}


#userProfile .list h1, #film .list h1 {
    font-size: 25px;
}

#userProfile .list li, #film .list li {
    list-style-type: none;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 20px;
    position: relative;
}

#userProfile .list li .title, #film .list li .title {
    display: inline;
}

#userProfile .list li .whenSeen, #film .list li .whenSeen {
    position: absolute;
    right :2px;
    top: 0px;
    color: gray;
}

#userProfile .list li .rating {
    display: inline;
    position: relative;
}

#editList {
    padding:0px;

    width: 700px;
    height: 770px;

    position:relative;

    margin-left: auto;
    margin-right: auto;

    border-style: dotted;
    border-width: 1px;
}

#editList ol {
    padding: 0px;

    width: 600px;

    position:relative;

    margin-left: auto;
    margin-right: auto;
}

#editListNumbers {
    text-align: right;

    padding: 0;
    margin-top: 15px;

    height: 100px;

    left: 70px;

    position: absolute;

    font-size: 50px;
}

#editListNumbers li, .ui-sortable li {
    height: 60px;
    list-style-type: none;
}

#editListNumbers li {
    margin: 0;
    height: 72px;
}

#editListNumbers ol {
    margin: 0;
    padding: 0;
}

.ui-sortable {
    padding: 0;

    position: relative;
}

.ui-sortable li {
    display: block;

    position: relative;

    left:60px;

    width: 500px;
    height: 50px;
    padding: 10px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
    background-color: white;

    font-size: 20px;

    border-style: solid;
    border-width: 1px;

    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

#editList li input{
    position: absolute;
    top: 15px;
    right: 10px;
}

#addFilm {
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#addFilm input[type="text"]{
    width: 300px;
    height: 30px;
    padding-left: 5px;
    font-size: 20px;
}

#addFilm input[type="submit"]{
    color: #D45500;
    background-color: whitesmoke;
}

#film h1, #film h2 {
    text-align: center;
}

#film #rate {
    height: 82px;
    width: 320px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-size: 11px;
    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;


    position: absolute;
    height: 50px;

    bottom: 0px;
}
