RewriteEngine on

RewriteRule ^lists/?$ index.php?controller=ListController [L]
RewriteRule ^lists/add/?$ index.php?controller=AddListController [L]
RewriteRule ^lists/create/?$ index.php?controller=CreateListController [L]
RewriteRule ^settings/?$ index.php?controller=AccountSettingsController [L]
RewriteRule ^login/?$ index.php?controller=LoginController [L]
RewriteRule ^join/?$ index.php?controller=JoinController [L]
RewriteRule ^faq/?$ index.php?controller=FAQController [L]
RewriteRule ^contact_filmbento/?$ index.php?controller=ContactController [L]
RewriteRule ^about/?$ index.php?controller=AboutController

RewriteRule ^([^/\.]+)/films/?$ index.php?controller=UserController&user=$1&function=films&page=1
RewriteRule ^([^/\.]+)/films/([^/\.]+)?$ index.php?controller=UserController&user=$1&function=films&page=$2

RewriteRule ^([^/\.]+)/?$ index.php?controller=UserController&user=$1 
RewriteRule ^films/([^/]+)/?$ index.php?controller=FilmController&film=$1 [L]
